body, p, h1, h3 {
  margin: 0;
  overflow-x: hidden;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.Layout {
  width: 100%;
  min-height: 100vh;
  display: flex;
}

.main {
  width: 100%;
}

.aside {
  min-width: 200px;
  background-color: rgb(86, 170, 243);
  min-height: 100vh;
}

.asideItem {
  width: 100%;
  border-bottom: 1px solid black;
  padding: 3px 6px;
  box-sizing: border-box;
  text-decoration: none;
}

.aside h3 {
  text-align: center;
  padding: 15px 0;
  border-bottom: 3px solid black;
}