.home {
  width: 100%;
  box-sizing: border-box;
  padding: 18px;
  min-height: 100vh;
}

.newFlashCardBtn {
  font-size: 18px;
  background-color: rgb(86, 170, 243);
  border: none;
  padding: 10px 15px;
  border-radius: 5px;
}

.newFlashCardBtn:hover {
  background-color: rgb(119, 192, 255);
  cursor: pointer;
}

.darkMode {
  margin-left: 20px;
}

.header {
  width: 100%;
}

.cardList{
  margin: 0;
  margin-top: 15px;
  width: 100%;
  min-height: 95%;
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  justify-content: flex-start;
}

.card {
  box-sizing: border-box;
  padding-left: 10px;
  min-width: 320px;
  width: 32.5%;
  height: 190px;
  background-color: rgb(234, 234, 234);
  border-left: 5px solid red;
  text-decoration: none;
  color: black;
}

.cardTitle {
  height: 40px;
  display: flex;
  align-items: center;
}

.cardContent {
  height: 113px;
}

.cardRemoveButton {
  box-sizing: border-box;
  width: 45px;
  height: 25px;
  border: 0;
  border-radius: 2px;
  color: white;
  position: relative;
  border: 1px solid black;
  font-size: 12px;
  background-color: red;
}

.cardRemoveButton:hover {
  cursor: pointer;
  background-color: rgb(216, 0, 0);
}